* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: blueviolet;
}

h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.401);
}

.container {
    padding: 32px;
    display: grid;
    grid-template-columns: repeat(1, 100px 200px 300px);
    grid-template-rows: 100px 200px;
    gap: 16px;
    grid-auto-rows: 400px;
    /* row-gap: 16px;
    column-gap: 16px; */
}

.item {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    background-color: goldenrod;
    padding: 16px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}